/*
* Set up
*/
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

@font-face {
    font-family: 'Old London';
    src: url("/fonts/OldLondon.ttf") format('truetype');
}

html,
body {
    font-family: 'Lato', sans-serif;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    width: 100vw;
    min-height: 100vh;
    overflow-x: hidden;
    color: var(--font-color);
}

a {
    color: var(--link-font-color);
    text-decoration: none;
}

p {
    text-indent: 1rem;
    text-align: justify;
}

.no-text-indent {
    text-indent: initial;
}

* {
    box-sizing: border-box;
}

/*
* Common Section
*/
#main {
    width: 100%;
    height: fit-content;
    padding: 2rem .2rem 4rem;
}

@media (min-width: 768px) {
    #main {
        padding-left: 2rem;
        padding-right: 2rem;
    }
}

@media (min-width: 992px) {
    #main {
        padding-left: 4rem;
        padding-right: 4rem;
    }
}

@media (min-width: 1200px) {
    #main {
        padding-left: 2rem;
        padding-right: 2rem;
    }
}

#main h1 {
    font-size: var(--h1-font-size);
}

#main h2 {
    font-size: var(--h2-font-size);
}

#main h3 {
    font-size: var(--h3-font-size);
}

/*
* Breadcrumb
*/
/* Style the list */
ul.breadcrumb {
    display: flex;
    align-items: center;

    width: fit-content;
    list-style: none;

    padding: .2rem .6rem;
    margin: 0 0 2rem;

    border-top-right-radius: 2rem;
    border-bottom-right-radius: 2rem;
    background-color: var(--primary-background);
}

/* Display list items side by side */
ul.breadcrumb li {
    display: inline;
    white-space: nowrap;
    font-size: .8rem;
}

/* Add a slash symbol (/) before/behind each list item */
ul.breadcrumb li+li:before {
    padding: 8px;
    color: var(--contrast-primary-background);
    content: "/\00a0";
}

/* Add a color to all links inside the list */
ul.breadcrumb li:last-of-type a {
    color: var(--contrast-primary-background);
    text-decoration: none;
}

/* Add a color on mouse-over */
ul.breadcrumb li a:hover {
    color: var(--contrast-primary-background);
    text-decoration: underline;
}

/*
* Simple Unordered List
*/
ul.simple-ulist {
    padding: 0;
    margin: 0 0 1rem;
    list-style: none;
}

ul.simple-ulist li:first-of-type {
    font-weight: bold;
}

ul.simple-ulist li:not(:first-of-type) {
    padding-left: .5rem;
}

/*
* Misc
*/
img.responsive {
    width: 100%;
    height: auto;
}

.img-description {
    margin-top: 0;
    font-size: .8rem;
}

.special-font {
    font-family: 'Old London';
}

.sub-title {
    margin-top: 0;
}

.centered {
    display: flex;
    flex-direction: column;
    align-items: center;
}